<html>
<head>
  <title>Spaceholder</title>
  <script src="./js/packery.pkgd.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/gxv8uxv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <style type="text/css">
  body {
    font-family: 'anonymous-pro', monospace;
    color: #fff;
    background-image: url('./images/noise.png'), -o-linear-gradient(-90deg, #110538 0%, #000000 100%);
    background-image: url('./images/noise.png'), -moz-linear-gradient(-90deg, #110538 0%, #000000 100%);
    background-image: url('./images/noise.png'), -webkit-linear-gradient(-90deg, #110538 0%, #000000 100%);
    background-image: url('./images/noise.png'), -ms-linear-gradient(-90deg, #110538 0%, #000000 100%);
    background-image: url('./images/noise.png'), linear-gradient(-180deg, #110538 0%, #000000 100%);
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  h1 {
    font-family: 'Futura Std';
    font-weight: 700;
    text-transform: uppercase;
    color: #8774C4;
    font-size: 1.5em;
  }
  a {
    color: #39EA91;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
/*  .alt {
    color: #39EA91;
  }
*/
  #wrapper {
    max-width: 70em;
    margin: 0 auto;
  }
  .hero {
    width: 25em;
  }
  </style>
</head>
<body>
  <div id="wrapper">
    <div class="hero unit">
    <h1>Space<span class="alt">holder</span></h1>
    <p>Spaceholder is a quick &amp; easy way to use cool space photos in your design mockups. Probably only useful during a space hackathon — for everthing else you're looking for <a href="http://placekitten.com/">Placekitten</a></p>
    <b>Like this:</b> <a href="http://spaceholder.co/p/96">http://spaceholder.co/p/96</a>
    </div>

    <div class="unit">
    <img src="http://spaceholder.co/p/480">
    </div>
    <div class="unit">
    <img src="http://spaceholder.co/p/400">
    </div>
    <div class="unit">
    <img src="http://spaceholder.co/p/192">
    </div>
    <div class="unit">
    <img src="http://spaceholder.co/p/288">
    </div>
    <div class="unit">
    <img src="http://spaceholder.co/p/96">
    </div>
    <div class="unit">
    <img src="http://spaceholder.co/p/48">
    </div>
  </div>

  <script>
  window.onload = function() {
    var container = document.querySelector('#wrapper');
    var pckry = new Packery( container, {
      // options
      itemSelector: '.unit',
      gutter: 16
    });
  }
  </script>
</body>
</html>